h1, h3 {
    font-family: 'Koh Santepheap', sans-serif;
}

p, li {
    font-family: 'Be Vietnam Pro', sans-serif;
}

model-viewer {
    height: 100%;
    width: 100%;
}

.model-container {
    display: flex;
    flex-direction: row;
}

/* turns model container responsive (from inline in a row to stacked like a column */
@media (max-width: 800px) {
    .model-container {
        flex-direction: column;
    }
}

.display-section {
    height: 100vh;
    width: 100vw;
    padding: 5vh 5vw;
}